@use "./variables" as *;

.header {
    z-index: 2;
    position: relative;

    &__title {
        color: $color-primary;
    }
}

.navbar {
    z-index: 2;
    position: relative;

    &__button {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        border: none;
        background-color: rgba(255, 255, 255, 0.3);
        color: $color-primary;
        font-size: 0.8rem;
        z-index: 1;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgba(42, 103, 106, 0.639);
            transition: left 0.5s ease; 
            z-index: 1;
        }

        span {
            position: relative;
            z-index: 2;  
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover:before {
            left: 0; 
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__button-start {
        width: 5.2rem;
    }

    &__button-info-icon {
        width: 1rem;
        height: auto;
    }
}

.game {
    z-index: 2;
    position: relative;

    &__hangman-pic {
        margin-top: 2rem;
        margin-right: 1.5rem;
        width: 11rem;
        height: auto;
        opacity: 80%;
    }

    &__hangman-life {
        font-size: 0.8rem;
    }

    &__word {
        color: $color-primary;
        font-size: 1.4rem;
    }

    &__keyboard-button,
    &__hint-button {
        width: 1.5rem;
        height: 1.5rem;
        border: none;
        background-color: rgba(255, 255, 255, 0.3);
        color: $color-primary;
        font-size: 1rem;
        z-index: 1;

        &:hover {
            background-color: rgba(55, 137, 141, 0.463);
            cursor: pointer;
        }
    }

    &__hint-button {
        width: 2.2rem;
        height: 1rem;
        font-size: 0.65rem;
        margin-right: 0.4rem;
        margin-top: 1rem;
    }

    &__hint-text {
        color: $color-primary;
        font-size: 0.65rem;
        margin-top: 1rem;
    }


}