@use "./variables" as *;

.header {
    display: flex;
    justify-content: center;

    &__title {
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
}

.navbar {
    display: flex;
    justify-content: center;

    &__button {
        margin: 0.5rem 0.9rem;
    }
}

.game {

    &__hangman {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__hangman-pic {
        max-width: 100%;
        height: auto;
    }

    &__hangman-lives {
        display: flex;
        flex-direction: column;
    }

    &__hangman-life {
        margin-bottom: 0.2rem;
    }

    &__word,
    &__hint {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
    }

    &__keyboard {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    &__keyboard-row {
        display: flex;
        justify-content: center;
        margin-bottom: 0.12rem;
    }

    &__keyboard-button {
        margin: 0.13rem;
    }

    &__instructions {
        position: absolute;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}